.hide-on-click {
  /* border: 1px solid black;*/
  background:lightgreen;
  width:235px;
  height:50px;
  display: inline-block;
  margin:0px;
}

.hidden {
  display: none;
}

#canvas {
  display: none
}

#output {
  width: 100%;
}